<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="refresh" content="120">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  a {
    color: #00B7FF;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
  }
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  <body>
    <h1><%= title %></h1>
    <p>Welcome - to <%= title %></p>
  </body>
</html>
